html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-columns: 300px repeat(2, 1fr);
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

aside {
  background: rgb(75, 53, 92);
  background: linear-gradient(-45deg, rgb(48, 29, 55) 0%, rgba(50, 44, 89, 1) 30%, rgba(71, 27, 79, 1) 70%, rgb(41, 29, 48) 100%);
  position: relative;
}

main {
  grid-column-start: 2;
  grid-column-end: 4;
  place-content: center;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 340px;
}

label {
  text-transform: uppercase;
  font-weight: 600;
  font-size: small;
  margin-bottom: 4px;
}

div {
  display: flex;
  flex-direction: column;
}

input {
  outline: none;
  padding: 10px 12px;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
}

input:focus {
  outline: none;
  border-color: black;
}

button {
  background: rgba(71, 27, 79, 1);
  color: #f1f1f1;
  border: none;
  padding: 14px;
  border-radius: 4px;
  margin-top: 20px;

  &:hover {
    cursor: pointer;
  }
}

.in-rows {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: space-between;
}

.in-rows input {
  max-width: 120px;
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(96, 74, 255);
  background: linear-gradient(117deg, rgba(96, 74, 255, 1) 0%, rgba(181, 71, 218, 1) 32%, rgba(94, 142, 232, 1) 50%, rgba(231, 113, 105, 1) 65%, rgba(96, 5, 144, 1) 100%);
  min-width: 300px;
  min-height: 180px;
  padding: 20px;
  border-radius: 10px;
  text-transform: uppercase;
  color: #f1f1f1;
}

.card-back {
  margin-left: 30%;
  margin-top: 90%;
  background: #eaeaea;
  padding: 25px 0;
}

.black-line {
  width: 100%;
  height: 40px;
  background-color: #202020;
}

#card-back-cvc {
  color: #f1f1f1;
  display: block;
  width: 80%;
  margin: 0 auto;
  background: #bababa;
  text-align: right;
  padding: 8px 16px;
  border-radius: 3px;
}

.circles {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.circle {
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.circle-mini {
  width: 20px;
  height: 20px;
  border: 1px solid #f1f1f1;
  border-radius: 100%;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.card-info--texts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: smaller;
 
  & p {
    margin:  0;
  }
}
#card-front-number {
  font-size: 22px;
  margin: 0;
  padding-bottom: 10px;
  font-weight: 600;
}


.red-alert {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  color: #ef4444;
  padding: 3px;
}

.red-border {
  border: 2px solid #ef4444;
  background-color: #fee2e2;
}